
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

          <div class="h-100" data-simplebar>

              

              <!--- Sidemenu -->
              <div id="sidebar-menu">

                  <ul id="side-menu">

                      <!-- <li class="menu-title">Navigation</li> -->


                      <li class="menu-title ">TAREFAS</li>

                     

                      <li>
                          <a href="/dashboard?show=new" >
                              <i data-feather="clipboard"></i>
                              <span> Novas</span> <span class="badge bg-danger float-end new">0</span>
                             
                          </a>
                       
                      </li>
                      
                      <li>
                        <a href="/dashboard?show=pendding" >
                            <i data-feather="clipboard"></i>
                            <span> Pendentes</span> <span class="badge bg-warning float-end pendding">0</span>
                           
                        </a>
                     
                    </li>

                    
                    <li>
                      <a href="/dashboard?show=complete" >
                          <i data-feather="clipboard"></i>
                          <span> Concluidas</span> <span class="badge bg-success float-end complete">0</span>
                         
                      </a>
                   
                  </li>



                  </ul>
              </div>
              <!-- End Sidebar -->


              <div class="clearfix"></div>

          </div>
          <!-- Sidebar -left -->

      </div>
      <!-- Left Sidebar End -->